<%= simple_form_for [:owner, place] do |f| %>
  <div class="col-12 mb-3 pt-2">
    <%= f.input :name %>
  </div>
  <div class="col-12 mb-3 pt-2">
    <%= f.input :description %>
  </div>
  <div class="col-12 mb-3 pt-2">
    <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
  </div>
  <div class="row pt-2">
    <div class="col-6 mb-3">
      <%= f.input :capacity %>
    </div>
    <div class="col-6 mb-3">
      <%= f.input :price_per_day %>
    </div>
  </div>
  <div class="col-12 mb-3 pt-2">
    <%= f.input :photo, as: :file %>
  </div>
  <div class="col-12 mb-3 pt-2">
    <%= f.submit "Create", class: "btn btn-primary btn-lg w-100" %>
  </div>
<% end %>
