
<div class="main-container-places">
  <div class="booking-show">
    <div class="detail-flex">
      <div class="details">
        <h1>Detail of <%= @place.name %> <%= image_tag("stars.png", class: "stars") %></h1>
        <hr>
        <div class="img-detail-flex">
          <div><%= cl_image_tag @place.photo.key %></div>
          <div>
            <p class="description"><%= @place.description %></p>
            <p class="capacity-price"><span><i class="fa-solid fa-people-group"></i> Capacity : <%= @place.capacity %></span> <span><i class="fa-solid fa-euro-sign"></i> <%= @place.price_per_day %>/day</span></p>
            <div class="links-container">
              <%= link_to '<i class="fa-solid fa-pencil"></i>'.html_safe, edit_owner_place_path(@place) %>
              <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, owner_place_path(@place), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
              <%= link_to 'Back to my places', owner_places_path, class: 'btn btn-back_to_my_place' %>
            </div>
          </div>
        </div>
        <hr>
        <p class="address"><i class="fa-solid fa-location-dot"></i> <%= @place.address %></p>
        <p class="owner">Owner : <%= @place.user.first_name %> <%= @place.user.last_name %></p>
        <div data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>
