<div class="container">
  <div class="detail-flex">
    <div class="row justify-content-left">
      <h1>Detail of <%= @place.name %></h1>
      <h2>Owner : <%= @place.user.first_name %> <%= @place.user.last_name %></h2>
      <div class="card-img-left">
      <%= image_tag("space.png") %>
      </div>
      <p><%= @place.description %></p>
      <p><%= @place.address %></p>
      <p>Capacity : <%= @place.capacity %> | $<%= @place.price_per_day %>/day</p>
    </div>
    <div class="form-md-right">
       <p><%= render "bookings/form" %></p>
    </div>
  </div>
</div>
